.wrapper {
    min-height: 100vh;
}

.imagens {
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

body {
    min-width: 372px;
}

p.limite-caracteres {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}









